@import url("https://fonts.googleapis.com/css?family=Marck Script:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Kulim Park:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Alfa Slab One:100,300,400,500,700,900");


body {
	font-family: "Railway", sans-serif;
	font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  transition: all 0.3s ease;
  
}

.logo{
  padding-top: 100px;	
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

a:hover,
a:focus {
  text-decoration: none;
  color: purple;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.8em;
}

.tm-section-pad-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 40px;
  
}

.tm-content-box2 {  
  padding-top: 40px;
  padding-bottom: 60px;
}

.tm-text-primary {
  text-align: center;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,  rgb(113, 5, 113) 10%, rgb(50, 50, 50) 50%, black 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-text-primary3 {
  text-align: center;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-text-primary2{
  text-align: left;
    color: #fff;
    font-size: 92px;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(144, 25, 199) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;

}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color:black;
  border-radius: 35px;
  padding: 14px 30px;
  margin-left: auto;
  margin-right: auto;
  
}

.tm-btn-primary2 {
  color: white;
  background-color:rgb(144, 25, 199);
  border-radius: 35px;
  padding: 14px 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4), 
  inset 0 0 3px 0 rgba(0,0,0,.4),
  inset 0 0 3px 5px rgba(0,0,0,.05), 2px 2px 4px 0 rgba(0,0,0,.25);
  
}
.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: rgb(144, 25, 199);
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4), 
  inset 0 0 3px 0 rgba(0,0,0,.4),
  inset 0 0 3px 5px rgba(0,0,0,.05), 2px 2px 4px 0 rgba(0,0,0,.25);
}

.tm-btn-primary2:hover,
.tm-btn-primary2:focus {
  color: white;
  background-color: plum;
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4), 
  inset 0 0 3px 0 rgba(0,0,0,.4),
  inset 0 0 3px 5px rgba(0,0,0,.05), 2px 2px 4px 0 rgba(0,0,0,.25);
}
/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color:black;
 
}

.navbar-brand {
  font-family: "Marck Script", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover{
  color: rgb(144, 25, 199);
}
.tm-navbar.scroll .navbar-brand:hover {
  color: white;
  
}

.tm-navbar.scroll .navbar-brand {
  color: rgb(144, 25, 199);
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  font-family: "Kulim Park", sans-serif;
  color: white;
}


.tm-navbar.scroll .tm-nav-link {
  color:  white;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: black;
  background-color: plum;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color:  white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid rgb(144, 25, 199);
}

.tm-navbar.scroll .navbar-toggler-icon {
  color:   rgb(144, 25, 199);
}

/* Hero */

#Home {
	background-color:black;
  background-image: url(../img/file5.gif);
  background-repeat: repeat;
  height: 100vh;
  position: relative;
  min-height: 375px;
  width: 100%;
}


@media (min-height: 600px) and (min-width: 1920px) {
  #Home {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #Home {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #Home {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #Home {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #Home {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}

.tm-hero-title {
  font-family: "Marck Script", sans-serif;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 2px purple;
  text-align:center;
}

.tm-hero-subtitle {
  font-family: "Kulim Park";
  color: plum;
  font-size: 1.5rem;
  font-style: bold;
  text-align:center;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  
  }

  .tm-intro-next {
    bottom: 10px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 100%;
}

.tm-down-arrow {
  	color: #FFF;
    cursor: pointer;
    background: rgb(144, 25, 199);
    border-radius: 35px;
    padding: 15px 40px;
    transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  background: black;
  padding: 20px 50px;
}

/* Introduction */

#introduction {
  padding-bottom: 100px;
  
}

.tm-section-title {
  font-size: 2.8rem;
  text-align: center;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(113, 5, 113) 10%, rgb(50, 50, 50) 50%, black 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-section-title2 {
  text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-section-title3 {
  text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-section-title4 {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}


.tm-intro-text2 { /*button font*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
}



.tm-continue {
  padding: 20px 0 30px 0;
  text-align: center;
}

#WhoAmI {
  background-color:black;
}

.tm-intro-text6 { /*who am i descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: grey;
  padding-bottom: 20px;

}



.skill-mf span {
  color: grey;
  font-size: 1.1rem;
 
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;

}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: rgb(144, 25, 199);

}

@media (max-width: 10000px) {
  #Projects {
    background-color: plum;
    width: 100%
  }
}



.tm-intro-text3 { /*project descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: black;
  padding-bottom: 20px;
}

.tm-intro-text { /*box descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
}

/* Experience */
#Experience {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  position: relative;
  padding-top: 40px;
}


.lwics-img{
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rob-img{
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tm-intro-text4 { /*experience descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
  padding-bottom: 20px;
}
.tm-intro-text5 { /*experience title*/
  font-size: 1.2rem;
  text-align:center;
  font-family: "Alfa Slab One" ;
  color: black;
  padding-top: 10px;
  background: linear-gradient(to right,  rgb(113, 5, 113) 10%, rgb(50, 50, 50) 50%, black 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

/* Contact */

#contact {
  color: white;
  background-color:plum;
  background-image: url(../img/contactgif.gif);
  background-position: center;
  background-repeat: repeat;
  min-height: 980px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color:white;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color:rgb(144, 25, 199);
}

.tm-input {
	margin: 0 0 20px 0;
	width: 90%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color:white;
}

.tm-btn-submit {
	font-size: 0.9em;
	color: white;
	background-color:plum;
	width: 50%;
  margin-bottom: 60px;
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4), 
  inset 0 0 3px 0 rgba(0,0,0,.4),
  inset 0 0 3px 5px rgba(0,0,0,.05), 2px 2px 4px 0 rgba(0,0,0,.25);
}

.tm-btn-submit:hover {
	color: #fff;
	background-color:  rgb(144, 25, 199);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a:hover {
	color: #9CF;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 200px) {
  .tm-intro-text-container {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    
    /*background-image: url(../img/newsplash.gif);
    border: 10px solid #ff0054;*/
    
   
  }

  .tm-intro-text-container-2 {
    background-color:black;
  padding: 2.5rem 1.3rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  box-shadow: 5px 5px 10px 1px  rgb(144, 25, 199);
    
  }

  .tm-intro-text-container-3 {
    color: black;
  background-color: plum;
  padding: 2.5rem 1.3rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  box-shadow: 5px 5px 10px 1px   rgb(113, 5, 113);
    
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
    
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(144, 25, 199);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: white;
	padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }

}