@import url("https://fonts.googleapis.com/css?family=Marck Script:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Kulim Park:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Alfa Slab One:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Sacramento:400");


body {
	font-family: "Railway", sans-serif;
	font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  transition: all 0.3s ease;
  
}

.logo{
  padding-top: 100px;	
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}


a:hover,
a:focus {
  text-decoration: none;
  
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
  display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn2{
  
  font-family: "Kulim Park", sans-serif;
padding: 8px 32px;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
font-size: 1.2rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: white;
  background-color: black;
  border-color: black;
}

.btn2:not(:disabled):not(.disabled) {
  cursor: pointer;
}

btn-primary{
  font-family: "Kulim Park", sans-serif;
}

btn-primary:hover{
  font-family: "Kulim Park", sans-serif;
}



.btn2:hover{
  font-family: "Kulim Park", sans-serif;
  color: white;
  background-color: #a339b0;
  border-color: black;
}
.dropdown{
  text-align: center;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.tm-section-pad-top {
  padding-top: 35px;
  padding-bottom: 10px;
}

.tm-content-box {
  padding-top: 20px;
  
}

.tm-content-box2 {  
  padding-top: 30px;
  padding-bottom: 30px;
}


.tm-text-primary {
  text-align: center;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
   
    color: #fff;
   
    
    
}
.separator{
  text-align: center;
  font-size: 1.8rem;
}


.tm-text-primary3 {
  text-align: center;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}





.tm-font-big {
  font-size: 1.25rem;
}




/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: black;;
  transition: all 0.3s ease;
}



.navbar-brand {
  font-family: "Marck Script", sans-serif;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 0 0 2px rgb(163, 2, 163), 0 0 4px rgb(76, 0, 76), 0 0 6px rgb(105, 3, 105), 0 0 10px #9a3c79, 0 0 45px #9a3c79, 0 0 55px #9a3c79, 0 0 70px #9a3c79, 0 0 80px #9a3c79;
}

.navbar-brand:hover{
  color: plum;
  text-shadow: 0 0 2px rgb(154, 66, 154), 0 0 4px rgb(154, 66, 154), 0 0 6px rgb(154, 66, 154), 0 0 10px #9a3c79, 0 0 45px #9a3c79, 0 0 55px #9a3c79, 0 0 70px #9a3c79, 0 0 80px #9a3c79;
}



.nav-item {
  list-style: none;
}

.tm-nav-link {
  font-family: "Kulim Park", sans-serif;
  color: white;
}

.ProjCatText{
  font-family: "Kulim Park", sans-serif;
  color: white;
}


.tm-nav-link:hover {
  color: black;
  background-color: plum;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color:  white;
  padding-top: 6px;
}



/* Home */

#Home {
	background-color:black;
  /*background-image: url(../img/file5.gif);*/
  background-repeat: repeat;
  height: 100vh;
  position: relative;
  min-height: 375px;
  width: 100%;
}


@media (min-height: 600px) and (min-width: 1920px) {
  #Home {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #Home {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #Home {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #Home {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #Home {
    background-position: center -450px;
  }
}

.intro-pic{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.tm-home-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-home-text-container-inner {
  margin-top: -90px;
}

.tm-home-title {
  font-family: "Marck Script", sans-serif;
  color: white;
  font-size: 6rem;
  text-shadow: 2px 2px 2px purple;
  text-align:center;
}

.tm-home-subtitle {
  font-family: "Kulim Park";
  color: plum;
  font-size: 1.5rem;
  font-style: bold;
  text-align:center;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-home-text-container-inner {
    margin-top: -40px;
  
  }

  .tm-intro-next {
    bottom: 10px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 100%;
}

.tm-down-arrow {
  	color: #FFF;
    cursor: pointer;
    background: rgb(144, 25, 199);
    border-radius: 35px;
    padding: 15px 40px;
    transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  background: black;
  padding: 20px 50px;
}

.tm-section-title {
  color: white ;
  font-size: 3.8rem;
  text-align: center;
  animation: pulsate 1.5s infinite alternate;  
  text-shadow:
  0 0 2px plum,
  0 0 4px plum,
  0 0 6px plum,
  0 0 10px #480363,
  0 0 45px #480363,
  0 0 55px #480363,
  0 0 70px #480363,
  0 0 80px #480363;
  font-family: "Sacramento", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  }

  .melissa-name {
    color: white ;
    font-size: 2.3rem;
    text-align: left;
    animation: pulsate 1.5s infinite alternate;  
    text-shadow:
    0 0 2px plum,
    0 0 4px plum,
    0 0 6px plum,
    0 0 10px #480363,
    0 0 45px #480363,
    0 0 55px #480363,
    0 0 70px #480363,
    0 0 80px #480363;
    font-family: "Sacramento", sans-serif;
    justify-content: left;
    align-items: left;  
    }

.tm-section-title2 {
  color: white ;
  font-size: 3.8rem;
  text-align: center;
  animation: pulsate 1.5s infinite alternate;  
  text-shadow:
  0 0 2px plum,
  0 0 4px plum,
  0 0 6px plum,
  0 0 10px #480363,
  0 0 45px #480363,
  0 0 55px #480363,
  0 0 70px #480363,
  0 0 80px #480363;
  font-family: "Sacramento", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.tm-section-title3 {
  text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,  rgb(207, 137, 240) 10%, #fff 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

.tm-section-title4 {
  font-size: 2.8rem;
  text-align: center;
  animation: pulsate 1.5s infinite alternate;  
  text-shadow:
  0 0 7px plum,
    0 0 10px plum,
    0 0 21px plum,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
  font-family: "Sacramento", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
}


.tm-intro-text2 { /*button font*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
}

.OPtext{
  font-size: 1.2rem;
  text-align:center;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.tm-continue {
  padding: 20px 0 30px 0;
  text-align: center;
  justify-content: flex-end;
  display: flex;
}

#WhoIAm {
  background-color:rgb(19, 1, 18);
  padding-bottom: 20px;
}


.skill-mf span {
  color: grey;
  font-size: 1.1rem;
 
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;

}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: rgb(144, 25, 199);

}
  #Projects {
    padding-bottom: 40px; 
    background-repeat: no-repeat;
    width: 100%
    
  }


    .projects-container {
   
     padding-top: 60px;
     padding-bottom: 40px;
     background-color: #f5deeb;
     border: 50px solid;
     border-image:url(../img/plum-back.png) 10% round ;
     min-height: 100vh;
  min-width: 100vw;
    
    }
   

    .projinfotext{
text-align: center;
font-size: 0.9rem;
color: #070101;

    }

    .nav-tab-back{
      display: block;
      padding: .5rem 1rem;
      
      
      border: 1px solid black;
  background-color: #070101;
  color: white;
    }

    .nav-tabs .nav-item.show .nav-tab-back, .nav-tabs .nav-tab-back.active{
      display: block;
      padding: .5rem 1rem;
      border: 1px solid transparent;
      background-color: plum;
      color: white;
      border: 1px solid plum;
    }

    .nav-tab-back:hover{
      display: block;
      padding: .5rem 1rem;
      
      border: 1px solid rgb(169, 85, 154);
  background-color: plum;
  color: white;
    }

 

    .project-title{
      padding-top: 20px;
      color: black;
font-size: 2rem;
text-align: center;
text-shadow: 0 0 2px #fbc3e3, 0 0 4px #fbc3e3, 0 0 6px #fbc3e3, 0 0 10px #e28ac3, 0 0 45px #e28ac3, 0 0 55px #e28ac3, 0 0 70px #e76fbd, 0 0 80px #e76fbd;
font-family: "Sacramento", sans-serif;
display: flex;
justify-content: center;
align-items: center;
    } 
.projName{
  font-family: "Kulim Park", sans-serif;
  color: black;
  font-size: 1.7rem;
  margin-left: 20px;
  margin-right: 20px;
  
}

.projDesc{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 20px;
}
    
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 25px;
  display: inline-block;
  padding: 15px;
  margin-right: 10px;
  border: solid #a339b0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 15px;
  margin-right: 10px;
}

.up{
  transform: rotate(135deg);
  -webkit-transform: rotate(225deg);
  margin-top: -45px;
  margin-left: 1300px;
}



.back-page{
    padding-top: 20px;
    margin-top: 60px;
    margin-left: 20px;
}


  #Projects2 {
    padding-bottom: 40px; 
    background-color: #070101;
    background-repeat: no-repeat;
    width: 100%
    
  }

.tm-intro-text3 { /*project descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: black;
  padding-bottom: 20px;
}

.tm-intro-text { /*box descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
  padding-top: 20px;
  text-size-adjust: auto;
}

/* Acheivements */

.gall-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: plum;
}

@media (min-width: 1200px) {
  .gall-container {
    margin: auto;
    width: 700px;
    padding-bottom: 40px;
  
  }
  }
.gallery-item{
  position: relative;
  width: 100%;
  height: 100%;
  /*border: 0.2rem solid plum;
  box-shadow: 0 0 .2rem plum,
            0 0 .2rem plum,
            0 0 1rem #480363,
            0 0 0.8rem #480363,
            0 0 1.2rem #480363,
            inset 0 0 1.3rem #480363; 
 */
}


.gallery-item:hover .gall-overlay {
  opacity: 85%;
}

.gall-text {
  position: relative;
  color: black;
  font-weight: 550;
  font-family: "Josefin Sans", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.gall-image {
  display: block;
  width: 33%;
  height: 100%;
  margin: auto;
}

.PMStarterKit-container{
  height: 1000px;
  background-color: #f5deeb;
}
/* Experiences */


@media (min-width: 1200px) {
  .ex-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  
  }
  }
 
.extextcontainer {
  
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  
    
}

.extextcontainer .excontent {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.9); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ex-item1{
  position: relative;
  width: 100%;
  border: 0.2rem solid plum;
  box-shadow: 0 0 .2rem plum,
            0 0 .2rem plum,
            0 0 1rem #480363,
            0 0 0.8rem #480363,
            0 0 1.2rem #480363,
            inset 0 0 1.3rem #480363; 
 
}

.ex-item2{
  position: relative;
  width: 100%;
  border: 0.2rem solid plum;
  box-shadow: 0 0 .2rem plum,
            0 0 .2rem plum,
            0 0 1rem #480363,
            0 0 0.8rem #480363,
            0 0 1.2rem #480363,
            inset 0 0 1.3rem #480363; 
 
}

.ex-item3{
  position: relative;
  width: 100%;
  border: 0.2rem solid plum;
  box-shadow: 0 0 .2rem plum,
            0 0 .2rem plum,
            0 0 1rem #480363,
            0 0 0.8rem #480363,
            0 0 1.2rem #480363,
            inset 0 0 1.3rem #480363; 
 
}

.ex-overlay1{

  overflow: auto;
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(12, 117, 174);
  color: black;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.ex-item1:hover .ex-overlay1 {
  opacity: 100%;
}

.ex-overlay2{

  overflow: auto;
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  color: black;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.ex-item2:hover .ex-overlay2 {
  opacity: 100%;
}

.ex-overlay3{

  overflow: auto;
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(243, 169, 5);
  color: black;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.ex-item3:hover .ex-overlay3 {
  opacity: 100%;
}



#Experiences {
  padding-bottom: 40px;
  background-image: url(../img/contactgif.gif);
  background-repeat: no-repeat;
  width: 100%
}

.project-img{
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.lwics-img{
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rob-img{
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rob-img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.SharediPadimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.tm-intro-text4 { /*experience descripton*/
  font-size: 1.2rem;
  text-align:center;
  color: white;
  padding-bottom: 20px;
}
.tm-intro-text5 { /*experience title*/
  font-size: 1.2rem;
  text-align:center;
  font-family: "Alfa Slab One" ;
  color: black;
  white-space: nowrap;
  background: linear-gradient(to right, rgb(210, 145, 210) 10%, rgb(244, 202, 244) 50%, plum 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

/* Contact */

#contact {
  color: white;
  background-color:rgb(19, 1, 18);
  /*background-image: url(../img/contactgif.gif);*/
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px;
  position: relative;
}



.tm-intro-text6 { /*box descripton*/
  font-size: 1.2rem;
  text-align:left;
  color: white;
}

.tm-intro-text-large { /*box descripton*/
  font-size: 1.9rem;
  text-align:left;
  color: white;
}

.contact-title{
  font-family: "Kulim Park", sans-serif;
  color: white;
  font-size: 1.7rem;
  margin-bottom: 10px;
  text-shadow: 0 0 2px rgb(154, 66, 154), 0 0 4px rgb(154, 66, 154), 0 0 6px rgb(154, 66, 154), 0 0 10px #9a3c79, 0 0 45px #9a3c79, 0 0 55px #9a3c79, 0 0 70px #9a3c79, 0 0 80px #9a3c79;

}

.contact-item1 {
  margin-bottom: 30px;
  display: flex;
  padding-right: 20px;
  justify-content: right;
  
}
.contact-item2 {
  margin-bottom: 30px;
  display: flex;
  justify-content: left;

}

.contactrow{
  justify-content: center;
}

.mailicon{
  color:rgb(144, 25, 199)
}
.mailiconi{
  color:white
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color:plum;
}

.tm-footer {
  position: relative;
  bottom: 35px;
  left: 0;
  right: 0;
  padding-top: 20px;
}

.tm-footer a {
	color: #fff;
}

.tm-footer a:hover {
	color: #9CF;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 200px) {
  .tm-intro-text-container {
    margin-left: 100px;
    margin-right: 100px;
    
    /*background-image: url(../img/newsplash.gif);
    border: 10px solid #ff0054;*/
  }

  .tm-intro-text-container-2 {
    background-color:black;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-repeat: no-repeat;
  padding: 2.5rem 1.3rem;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #480363,
            0 0 0.8rem #480363,
            0 0 2.8rem #480363,
            inset 0 0 1.3rem #480363; 
  animation-duration: 3s;
  animation-name: bounce2; 
  animation-iteration-count: infinite;
  }

  @keyframes bounce2 {
    10%, 30%, 50%, 80%, 100% {
      transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
  }

  @keyframes fade-in {
    from { 
      opacity: 0; 
    }
  
    to {
      opacity: 1; 
    }
  }

  .tm-intro-text-container-3 {
    color: white;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-color:black;
    background-repeat: no-repeat;
  padding: 1rem;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #480363,
            0 0 0.8rem #480363,
            0 0 2.8rem #480363,
            inset 0 0 1.3rem #480363; 
  animation-duration: 3s;
  animation-name: bounce2; 
  animation-iteration-count: infinite;
  
    
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
    
  }
}


@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(144, 25, 199);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: white;
	padding-right: 20px;
  }
}
/* SlideShow */


/* Make the images invisible by default */
.Containers {
  display: none;
  background-color: black;
}


/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
